/* Variables CSS*/
:root {
  /* Colors: */
  --first-color: #263238;
  --second-color: #37474f;
  --third-color: #455a64;
  --fourth-color: #b0bec5;
  --fifth-color: #ffffff;

  /* Fonts: */
  --primary-font: "Oswald", sans-serif;
  --secundary-font: "Lato", sans-serif;
}

/* Estilos generales*/

a {
  color: inherit;
  text-decoration: none;
}
button,
input[type="text"] {
  border: none;
  outline: none;
  cursor: pointer;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
h3 {
  margin: 0;
}
/* Fin Estilos generales*/

/* Loading Page */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--first-color);
}
.loader {
  border: 5px solid var(--fifth-color);
  border-radius: 50%;
  border-top: 5px solid var(--third-color);
  border-right: 5px solid var(--third-color);
  width: 80px;
  height: 80px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* Fin loading Page */

/*Scroll to top*/
.scroll-to-top {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 15px 15px 0;
  background-color: var(--third-color);
  padding: 10px;
  font-size: 25px;
  color: var(--fifth-color);
  border-radius: 7px;
  display: flex;
  transform: rotate(-90deg);
  z-index: 100;
}

/* Fin scroll to top*/

/* Background overlay */
.background-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.75);
}
.active-background {
  display: block;
}
.disabled-background {
  display: none;
}
/* Fin background overlay */

/* Modal login*/
.login-modal {
  position: fixed;
  top: 7.5vh;
  right: 35vw;
  width: 30vw;
  height: 85vh;
  background-color: var(--fifth-color);
  z-index: 10000;
  padding: 2rem 3rem 0 3rem;
  text-align: center;
  max-height: 600px;
}
.disabled-login {
  display: none !important;
}
.active-login {
  display: block;
}
.log-close {
  position: absolute;
  top:0;
  right: 0;
  font-size: 20px;
  margin: 2rem 2rem 0 0;
  cursor: pointer;
}
.log-tittle {
  margin-bottom: 60px;
}
.tittle-l {
  font-family: var(--primary-font);
  font-size: 35px;
  font-weight: 700;
  color: var(--first-color);
}

.input-div {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 2px solid var(--fourth-color);
  position: relative;
  font-size: 15px;
  color: var(--fourth-color);
  font-family: var(--secundary-font);
}
.input-div i {
  font-size: 25px;
}
.input-div label::before {
  content: attr(tittle);
  position: absolute;
  top: -10%;
  left: calc(30% / 2);
  line-height: 40px;
  font-size: 15px;
  color: var(--third-color);
  transition: 300ms all;
}

.input-div input {
  width: 100%;
  border: none;
  margin-left: 5px;
}

.input-div input:focus {
  outline: none;
}

.input-div input:focus + label::before,
.input-div input:valid + label::before {
  line-height: 20px;
  font-size: 12px;
  top: -50%;
  background: var(--fifth-color);
  padding: 0 6px;
  left: 10%;
}

.input-feedback {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 10px;
  color: red;
  width: 100%;
  display: block;
  font-size: 13px;
  border-radius: 10px;
  display: none;
}
.div-log {
  font-family: var(--secundary-font);
}
.validate-login {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 20px;
  color: red;
  font-weight: 600;
  font-size: 15px;
  width: 100%;
  margin-bottom: 20px;
  display: none;
}
.forget-link {
  margin-bottom: 20px;
  display: inline-block;
  color: var(--second-color);
  transition: 0.3s ease-in-out;
  width: 100%;
}
.forget-link:hover {
  text-decoration: none;
  font-weight: 700;
  color: var(--first-color);
}
.btn-login,
.btn-login-facebook {
  display: block;
  width: 100%;
  padding: 10px 0;
  font-size: 20px;
  font-family: var(--primary-font);
  font-weight: 700;
  background-color: var(--first-color);
  border: none;
  color: #fff;
  margin-bottom: 20px;
  position: relative;
}

.btn-login:hover {
  z-index: 0;
  color: var(--first-color);
  transition: 0.5s all;
}

.btn-login::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 0%;
  height: 100%;
  background-color: var(--fifth-color);
  border: 2px solid var(--first-color);
  transition: 0.3s all;
}

.btn-login:hover::after {
  width: 100%;
}
.btn-login-facebook {
  background-color: #4d6fa9;
}
.other-way {
  display: block;
  font-size: 20px;
  color: var(--fourth-color);
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
}
.other-way::before {
  content: "";
  width: 40%;
  height: 2px;
  background: var(--fourth-color);
  position: absolute;
  left: 5%;
  top: 50%;
  z-index: -1;
}
.other-way::after {
  content: "";
  width: 40%;
  height: 2px;
  background: var(--fourth-color);
  position: absolute;
  left: 55%;
  top: 50%;
  z-index: -1;
}
.register-info {
  font-family: var(--secundary-font);
  color: var(--third-color);
}
.register-link {
  font-weight: 700;
  text-decoration: underline;
}
/* Fin modal login*/

/* Header*/
.header {
  font-family: var(--primary-font);
}
.hd-top {
  background-color: var(--first-color);
  display: flex;
  align-items: center;
}
.hdt-left {
  flex-grow: 1;
}
.hdt-center {
  flex-grow: 2;
}
.hdt-right {
  flex-grow: 1;
}
.hd-bottom {
  background-color: var(--second-color);
}
.logo-link {
  color: var(--fifth-color);
  font-size: 2em;
}
.search-menu {
  background-color: var(--fifth-color);
  font-family: var(--secundary-font);
  border-radius: 25px;
  padding: 10px 20px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

.search-menu input {
  flex-grow: 1;
}
.search-menu button {
  background-color: var(--fifth-color);
  color: var(--second-color);
  font-size: 20px;
}

.welcome-user {
  display: flex;
  align-items: center;
  color: var(--fifth-color);
  font-size: 15px;
  cursor: pointer;
}
.welcome-user i {
  font-size: 2em;
}
.welcome {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.user-name {
  font-weight: 200;
}

[class^="user-"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--fifth-color);
  font-size: 15px;
}
[class^="user-"] i {
  font-size: 1.75em;
  margin-bottom: 2px;
}
.user-orders i {
  font-size: 2.25em;
}

.user-cart {
  position: relative;
}
.cart-item {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--fifth-color);
  border-radius: 50%;
  color: var(--first-color);
  text-align: center;
  line-height: 20px;
  top: -5px;
  right: -5px;
  font-family: var(--secundary-font);
  font-weight: 900;
}
.menu {
  color: var(--fifth-color);
  flex-grow: 1;
  cursor: pointer;
  font-size: 1.2em;
}
.menu-text {
  margin-left: 5px;
  font-weight: 700;
}
.menu-nav {
  color: var(--fifth-color);
  flex-grow: 5;
  font-size: 1.1em;
}
.ul-nav {
  display: flex;
}
.item-nav {
  margin-right: 50px;
  position: relative;
}

.item-nav::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 2px;
  background-color: var(--fifth-color);
  transition: all 0.3s;
}
.item-nav:hover::before {
  width: 100%;
}
/* Fin header*/

/* Footer */

.ft-top {
  background-color: var(--first-color);
  color: var(--fourth-color);
}
.ft-row {
  display: flex;
  flex-wrap: wrap;
}
.contact-fotter ~ div {
  padding-left: 2.75rem;
}
[class*="-fotter"] {
  width: 22%;
}
.subscribe-fotter {
  width: 34%;
}
.ft-tittle {
  margin-bottom: 30px;
}
.tittle-f {
  font-family: var(--primary-font);
  font-size: 18px;
}
[class*="-contact"] {
  display: flex;
  align-items: flex-start;
  font-family: var(--secundary-font);
  margin-bottom: 25px;
}
[class*="-contact"] i {
  font-size: 20px;
}
.content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 14px;
}
.sub-tittle {
  font-weight: 700;
  margin-bottom: 5px;
}

.item-f {
  font-weight: 400;
  margin-bottom: 20px;
  font-family: var(--secundary-font);
}
.subscribe-fotter {
  font-family: var(--secundary-font);
}
.panel-small {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loader-small {
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

.subs-text {
  display: block;
  margin-bottom: 20px;
}
.txt-subs {
  width: 100%;
  margin-bottom: 30px;
  background-color: var(--first-color);
  color: var(--fourth-color);
  padding: 5px;
  border-bottom: 2px solid var(--fourth-color) !important;
}
.check {
  margin-bottom: 30px;
  display: flex;
  padding-top: 5px;
}
.check-input {
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check-input input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: var(--fourth-color);
  transition: all 300ms;
}

.check-input:hover input ~ .checkmark {
  background-color: var(--third-color);
}

.check-input input:checked ~ .checkmark {
  background-color: var(--second-color);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.check-input input:checked ~ .checkmark:after {
  display: block;
}

.check-input .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid var(--fifth-color);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.check a {
  font-family: var(--secundary-font);
  margin-left: 25px;
  font-size: 15px;
  text-decoration: underline;
}
.btn-sub {
  background-color: var(--second-color);
  color: var(--fifth-color);
  padding: 15px 40px;
  font-family: var(--primary-font);
}

.ft-book {
  background-color: var(--second-color);
  color: var(--fifth-color);
  padding: 10px 20px;
  font-family: var(--primary-font);
}
.ft-book {
  display: inline-block;
}
.book {
  display: flex;
  align-items: center;
  font-size: 20px;
}
.book i {
  font-size: 30px;
}
.book h3 {
  margin-left: 10px;
  font-size: 18px;
}

.ft-media {
  border-top: 2px solid var(--second-color);
  padding-top: 3rem;
  display: flex;
  width: 100%;
  justify-content: center;
}
[class*="-icon"] {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
[class*="-icon"] .tittle-f {
  margin-bottom: 15px;
}
.social-icon {
  margin-right: 50px;
}
.icons-f {
  margin-left: 15px;
  font-size: 35px;
  color: var(--fifth-color);
}
.icons-f i {
  margin-right: 20px;
}

.ft-bottom {
  font-family: var(--secundary-font);
  background-color: var(--second-color);
  color: var(--fourth-color);
  display: flex;
  justify-content: center;
  text-align: center;
}
/* Fin footer */

/*Media queries*/
@media (max-width :1200px) {
  /*Modal-Login*/
  .login-modal {
    right: 30vw;
    width: 40vw;
  }
}
@media (max-width: 993px) and (min-width: 991px) {
  .ft-tittle i {
    display: inline !important;
  }
}
@media (max-width: 992px) {
  /*Modal-Login*/
  .login-modal {
    right: 25vw;
    width: 50vw;
  }
  /*Footer*/
  [class*="-fotter"] {
    width: 100%;
    padding: 20px 0 !important;
    border-bottom: 2px solid var(--second-color);
  }
  .ft-tittle i {
    transition: 0.2s;
  }
  .ft-tittle i {
    transition: transform 0.3s ease-in-out;
  }
  .arrow-close {
    transform: initial;
  }
  .arrow-open {
    transform: rotate(90deg);
  }
  .ft-tittle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .tittle-f {
    font-size: 20px;
  }

  /* Animation dropdown*/
  .dropdown-menu {
    background-color: var(--second-color);
    border-radius: 5px;
    max-height: 0;
    overflow: hidden;
  }
  .show-drop,
  .hide-drop {
    transform-origin: 50% 0%;
  }

  .show-drop {
    display: block;
    max-height: 9999px;
    transform: scaleY(1);
    animation: showAnimation 0.5s ease-in-out;
    transition: max-height 1s ease-in-out;
    margin-top: 30px;
    padding: 1.5rem;
  }

  .hide-drop {
    max-height: 0;
    transform: scaleY(0);
    animation: hideAnimation 0.4s ease-in;
    transition: max-height 0.6s ease-in;
  }

  @keyframes showAnimation {
    0% {
      transform: scaleY(0);
    }
    40% {
      transform: scaleY(1.04);
    }
    60% {
      transform: scaleY(0.98);
    }
    80% {
      transform: scaleY(1.04);
    }
    100% {
      transform: scaleY(0.98);
    }
    80% {
      transform: scaleY(1.02);
    }
    40% {
      transform: scaleY(1);
    }
  }

  @keyframes hideAnimation {
    0% {
      transform: scaleY(1);
      margin-top: 30px;
      padding: 1.5rem;
    }
    60% {
      transform: scaleY(0.98);
      margin-top: 30px;
      padding: 1.5rem;
    }
    80% {
      transform: scaleY(1.02);
      margin-top: 30px;
      padding: 1.5rem;
    }
    100% {
      transform: scaleY(0);
      margin-top: 0px;
    }
  }

  .txt-subs {
    background-color: var(--second-color);
    width: 50%;
  }
  .btn-sub {
    background-color: var(--third-color);
  }
  .ft-book {
    background-color: var(--third-color);
  }
  .ft-media {
    border-top: none;
    flex-direction: column;
    padding-top: 0;
  }
  [class*="-icon"] {
    align-items: center;
    margin: 0;
  }
  .social-icon {
    margin-bottom: 30px;
  }
  .icons-f {
    margin-top: 15px;
    margin-left: 0;
  }
}
@media (max-width: 768px) {
  /*Modal-Login*/
  .login-modal {
    right: 15vw;
    width: 70vw;
  }
  .subscribe .ft-tittle {
    margin-bottom: 0;
  }
  .txt-subs {
    width: 100%;
    background-color: var(--second-color);
  }
  .btn-Sub {
    background-color: var(--third-color);
  }
}
@media (max-width: 576px) {
  .login-modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    max-height: initial;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /*header*/
  [class*="user-"] i {
    font-size: 1.5em;
  }
  [class*="user-"] span {
    font-size: 13px;
  }
  /*footter*/
  .ft-tittle i {
    margin-left: 15px;
  }
  .tittle-f {
    font-size: 18px;
  }
  .ft-book {
    display: block;
  }
  .book {
    justify-content: center;
  }

  [class*="-icon"] h3 {
    text-align: center;
  }
  .icons-f {
    margin-left: 10px;
    font-size: 35px;
  }
  .icons-f i {
    margin-right: 10px;
  }
  .bottomf {
    text-align: center;
  }
}
/*Fin media queries*/
