/*-----------------------------------Loading Page--------------------------------------------- */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: #b0bcc2;
  width: 100%;
  min-height: 100vh;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #162534;
  border-top: 8px solid #eb1e1e;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(500deg);
  }
}

/* Afp opcion*/
a{
  color: #000;
}
a:hover{
 text-decoration: none;
}
.principal{
  width: 100%;
  min-height: 100vh;
}
.main-logo{
  margin: 50px 0;
  text-align: center;
}
.single-item {
  margin: 40px auto;
  cursor: pointer;
  display: flex;
}
.retiro-div{
  padding: 50px;
  margin: 0 auto;
}

.retiro-div:hover{
  transition: all 0.2s ease-out;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  top: -4px;
}

.title-option{
  font-size: 40px;
  font-weight: 700;
  }

  .title-modal{
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
  }

  .logos{
    /* margin-top: 20px; */
  }