:root {
  --dark: #373737;
  --primary: #616161;
  --light: #8e8e8e;
}

/*-----------------------------------Loading Page--------------------------------------------- */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: var(--light);
  width: 100%;
  min-height: 100vh;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid var(--primary);
  border-top: 8px solid var(--dark);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(500deg);
  }
}

.retiro {
  color: inherit;
}
.retiro:hover {
  color: inherit;
  text-decoration: none;
}

.retiro-div {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  width: 90%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-left: 4px solid var(--dark);
  border-radius: 0 5px 5px 0;
  color: var(--dark);
}

.retiro-div:hover {
  border-left: 10px solid var(--dark);
  transition: all 0.3s ease-out;
}

.title-option {
  font-size: 1.5em;
  font-weight: 600;
}

.info-option {
  font-size: 1.25em;
}

/*--------------- Especificar------------*/
[type="button"]
{
  max-width: 200px;
  width: 100%;
  background: var(--dark);
  color: #f9f9f9;
  border: none;
  margin: 15px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
}
[type="button"]:hover {
  border: 2px solid var(--dark);
  background: #fff;
  color: var(--dark);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}