:root {
  --dark: #373737;
  --primary: #616161;
  --light: #8e8e8e;
}
*, *::after, *::before{
  box-sizing: border-box;
}
/*-----------------------------------Loading Page--------------------------------------------- */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: var(--light);
  width: 100%;
  min-height: 100vh;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid var(--primary);
  border-top: 8px solid var(--dark);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(500deg);
  }
}
/*---------------Navbar--------------*/
.navbar{
  background-color: var(--dark);
  margin-bottom: 20px;
}

.navbar a{
  color: var(--primary);
}
.navbar a:hover{
  color:#fff;
  transition: all 0.3s ease-out;
}
.retiro {
  color: inherit;
}
.retiro:hover {
  color: inherit;
  text-decoration: none;
}

.retiro-div {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 30px;
  width: 90%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border-left: 4px solid var(--dark);
  border-radius: 0 5px 5px 0;
  color: var(--dark);
}

.retiro-div:hover {
  border-left: 10px solid var(--dark);
  transition: all 0.3s ease-out;
}

.title-option {
  font-size: 1.5em;
  font-weight: 600;
}

.info-option {
  font-size: 1.25em;
}
/*--------------- Steps- Left -----------------*/
.steps{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
.ul-steps{
  display: inline-block;
  padding: 0;
}
.li-steps {
  display: inline-block;
  text-align: center;
  margin-right: 30px;
}

.circle-steps {
  background-color: var(--dark);
  color: #fff;
  font-size: 1.5em;
  height: 40px;
  width: 40px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  position: relative;
}
.done{
  background-color: #00FF7F;
}
.active{
  background-color:var(--primary);
}
.circle-steps::before{
  content: "";
  position: absolute;
  top:50%;
  right: 100%;
  width: 120%;
  height: 1px;
  background-color: var(--dark);
}
.circle-steps::after{
  content: "";
  position: absolute;
  top:50%;
  left: 100%;
  width: 120%;
  height: 1px;
  background-color: var(--dark);
}
.title-steps {
  display: block;
}
.li-steps a {
  color: var(--light);
}

.li-steps a:hover {
  text-decoration: none;
}

/*--------------- Index -----------------*/
.help-tittle {
  font-size: 2em;
  font-weight: 600;
  color: var(--dark);
  margin-bottom: 30px;
}
/*--------------- Especificar------------*/
[type="button"] {
  max-width: 200px;
  width: 100%;
  background: var(--dark);
  color: #f9f9f9;
  border: none;
  margin: 15px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
}
[type="button"]:hover {
  border: 2px solid var(--dark);
  background: #fff;
  color: var(--dark);
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}

@media (max-width: 768px) {
  
  .li-steps {
    margin-right: 10px;
  }
  .circle-steps {
    /* font-size: 1em;
    height: 40px;
    width: 40px; */
  }
  .circle-steps::before{
    width: 100%;
  }
  .circle-steps::after{
    width: 100%;
  }
}


@media (max-width: 576px) {
  
  .li-steps {
    display: block;
    margin-right: 5px;
  }
  .circle-steps {
    font-size: 1em;
    height: 30px;
    width: 30px;
  }
  .circle-steps::before{
    width: 100%;
  }
  .circle-steps::after{
    width: 100%;
  }
  .tittle-steps{
    font-size: 15em;
  }
}
