@import url("https://fonts.googleapis.com/css?family=Mukta");

body {
  font-family: "Mukta", sans-serif;
}
/*-----------------------------------Loading Page--------------------------------------------- */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background: #ffffff;
  width: 100%;
  max-height: 100vh;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #bf0909;
  border-top: 8px solid #ffffff;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(500deg);
  }
}

.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 10px;
}

/*------------------Principal content ---------------- */

.info-box {
  min-height: 100vh;
  background-color: #bf0909;
  box-shadow: 0 0 15px 9px #00000096;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------formulario------------ */
.formulario{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.info-result{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.info-result .titulo{
  font-size: 25px;
  font-weight: 500;
}
.formulario .titulo {
  font-size: 35px;
  font-weight: 600;
}
.dni,
.fecha {
  display: flex;
  flex-direction: row;
  border: 1px solid #b5b5b5;
  border-radius: 10px;
  margin: 20px 0;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
}

.dni input[type="text"],
input[type="text"] {
  border: none;
  margin-left: 10px;
  width: 100%;
  outline: none;
  height: 80%;
}

.fecha input {
  width: 100%;
  border: none;
  margin-left: 10px;
  width: 100%;
  outline: none;
  height: 80%;
}

.user .btnInicio {
  width: 100%;
  border: none;
  margin-left: 10px;
  width: 100%;
  outline: none;
  height: 80%;
}
.label-help {
  cursor: pointer;
}
.label-help:hover {
  color: #bf0909;
}
form button[type="button"],
div > button {
  max-width: 150px;
  width: 100%;
  background: #bf0909;
  color: #f9f9f9;
  border: none;
  margin: 15px;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 2px;
  float: right;
  cursor: pointer;
}
form button[type="button"]:hover,
div > button:hover {
  border: 2px solid #bf0909;
  background: #fff;
  color: #bf0909;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-in;
}
.img-principal {
  margin: 10%;
}
.logo {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 15px;
}
.logo-2 {
  position: fixed;
  bottom: 0;
  left: 0;
}
.logo-3 {
  position: fixed;
  bottom: 0;
  right: 50%;
  margin-right: 15px;
}
.help-2 {
  position: fixed;
  top: 0;
  right: 0;
  margin: 15px;
  cursor: pointer;
}
.help-2:hover {
  color: #bf0909;
}

@media (max-width: 768px) {
  .info-box {
    display: none;
  }
}

