:root{
  --rojo: #D91023;
  --blanco: #ffffff;
}

/*-----------------------------------Loading Page--------------------------------------------- */
.panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
  background: var(--blanco);
  width: 100%;
  max-height: 100vh;
}

#circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid var(--rojo);
  border-top: 8px solid var(--blanco);
  border-radius: 50%;
  animation: rotate 5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(500deg);
  }
}

.logo{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10px;
}

