@font-face {
  font-family: 'icomoon';
  src:  url('../font/icomoon.eot?ibtriq');
  src:  url('../font/icomoon.eot?ibtriq#iefix') format('embedded-opentype'),
    url('../font/icomoon.ttf?ibtriq') format('truetype'),
    url('../font/icomoon.woff?ibtriq') format('woff'),
    url('../font/icomoon.svg?ibtriq#icomoon') format('svg');
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-american-express:before {
  content: "\e900";
}
.icon-audio:before {
  content: "\e901";
}
.icon-help:before {
  content: "\e902";
}
.icon-messenger:before {
  content: "\e903";
}
.icon-book:before {
  content: "\e904";
}
.icon-chip:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-close-dark:before {
  content: "\e907";
}
.icon-computer:before {
  content: "\e908";
}
.icon-diners-club:before {
  content: "\e909";
}
.icon-ethernet:before {
  content: "\e90a";
}
.icon-eye:before {
  content: "\e90b";
}
.icon-facebook:before {
  content: "\e90c";
}
.icon-game-controller:before {
  content: "\e90d";
}
.icon-growth:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-home:before {
  content: "\e910";
}
.icon-instagram-sketched:before {
  content: "\e911";
}
.icon-iphone:before {
  content: "\e912";
}
.icon-keyboard:before {
  content: "\e913";
}
.icon-mail:before {
  content: "\e914";
}
.icon-master-card:before {
  content: "\e915";
}
.icon-menu:before {
  content: "\e916";
}
.icon-next:before {
  content: "\e917";
}
.icon-phone:before {
  content: "\e918";
}
.icon-print:before {
  content: "\e919";
}
.icon-real-estate:before {
  content: "\e91a";
}
.icon-rhombus:before {
  content: "\e91b";
}
.icon-search:before {
  content: "\e91c";
}
.icon-search-mobile:before {
  content: "\e91d";
}
.icon-shop:before {
  content: "\e91e";
}
.icon-smart-key:before {
  content: "\e91f";
}
.icon-supermarket:before {
  content: "\e920";
}
.icon-supply:before {
  content: "\e921";
}
.icon-tablet:before {
  content: "\e922";
}
.icon-television:before {
  content: "\e923";
}
.icon-tower-pc:before {
  content: "\e924";
}
.icon-truck:before {
  content: "\e925";
}
.icon-twitter:before {
  content: "\e926";
}
.icon-user:before {
  content: "\e927";
}
.icon-visa:before {
  content: "\e928";
}
.icon-whatsapp:before {
  content: "\e929";
}
.icon-youtube:before {
  content: "\e92a";
}
