#header {
  background-color: #000;
  padding: 25px 15px 15px 15px;
  border-bottom: 5px solid #d10024;
}

.main-header {
  display: flex;
  align-items: center;
}
.logo-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.logo-header a:hover {
  text-decoration: none;
}
.logo-link {
  display: flex;
}
.logo-letras {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  font-size: 20px;
  color: #fff;
}

.logo-link img {
  width: 50px;
}
.menum {
  display: none;
}
.principal-menu {
  position: absolute;
  width: 100%;
  height: 50vh;
  top: 120%;
  left: 0;
  z-index: 100;
  background-color: #fff;
  display: none;
  border-radius: 5px;
}
.item-menu {
  background-color: #c0c0c0;
  height: 100%;
  width: 20%;
  display: flex;
  align-items: center;
  position: relative;
}
.item-ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.item-li {
  height: calc(100% / 7);
  display: flex;
  justify-content: center;
  align-items: center;
}
.body-menu {
  height: 100%;
  width: 400%;
  position: absolute;
  top: 0;
  left: 100%;
  display: none;
}
.item-li:hover {
  background-color: #000;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}
.item-li:hover .body-menu {
  display: inline-block;
  transition: 0.8s;
}
.sub-items {
  float: left;
  width: 60%;
  height: 100%;
  padding: 15px 15px;
}
.ul-sub-items {
  width: 100%;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.li-sub-items {
  width: 25%;
  text-align: center;
}
.li-sub-items a {
  color: #000;
}
.li-sub-items a:hover {
  color: #d10024;
  transition: 0.2s all;
}
.li-sub-items a::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: #d10024;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
  margin-top: 5px;
}
.li-sub-items a:hover::after {
  width: 100%;
}
.img-menu {
  float: right;
  width: 40%;
  height: 100%;
}
.img-menu img {
  height: 100%;
}
div.menu-close {
  display: none;
}
.search-header {
  border-radius: 50px;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 10px 5px 30px;
}
#txtSearch {
  border: none;
  width: 90%;
  font-size: 1.25em;
  font-family: sans-serif;
}
#btnSearch {
  background-color: #fff;
  border: #fff;
  color: #000;
  outline: none;
}
#txtSearch:focus {
  outline: none;
}

[class*="menu-"] {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
[class*="menu-"] span {
  font-size: 15px;
}
.menu-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
}
.menu-search {
  display: none;
}
.menu-bag {
  position: relative;
}
.number-bag {
  position: absolute;
  bottom: 80%;
  left: 60%;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 15px;
  background-color: #fff;
  color: #000;
}
@media (max-width: 1200px) {
  .li-sub-items {
    width: calc(100% / 3);
  }
}
@media (max-width: 851px) {
  .item-li {
    text-align: center;
  }
  .li-sub-items {
    width: calc(100% / 2);
  }
}

@media (min-width: 767px) and (max-width: 769px) {
  .menu-icons a {
    margin-right: 40px;
  }
}
@media (max-width: 992px) {
  [class*="menu-"] span {
    font-size: 10px;
  }
  .logo-letras {
    display: none;
  }
}
@media (max-width: 768px) {
  .search-header {
    display: none;
  }
  .logo-header {
    justify-content: space-around;
  }
  .menu {
    display: none;
  }
  .menum {
    display: flex;
    margin-left: 15px;
  }

  .languages-link {
    display: none;
  }
  .menu-languages {
    display: none;
  }
  .menu-search {
    display: flex;
  }
  .menu-icons {
    justify-content: space-around;
  }
}

@media (max-width: 576px) {
}

#main {
  width: 100%;
  height: 1000px;
}
.main {
  background-color: rgba(0, 0, 0, 0.5);
} 
